* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.logo_image_mobile {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
}

li, a {
  font-weight: 500;
  font-size: 16px;
  color: white;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  font-weight: 400;
  background-image: linear-gradient(140deg, #ff6600 35%, purple);
}

.sticky_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(140deg, #ff6600, purple);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.sticky_header.transparent {
  opacity: 0.9;
}
h1 span {
  font-weight: 300;
}

h2 {
  text-align: center;
  color: #ff6600;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: clamp(30px, 4vw, 35px);
}

h3 span {
  font-weight: 200;
}

h4 {
  text-align: center;
  
}

.welcome_text {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  margin-right: 10vw;
  margin-left: 10vw;
}

.Xponential_AI_logo_image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

main {
  margin-top: 50px;
  padding-top: 60px;
  background-color: rgba(255, 220, 40, .15);
  height: 100vh;
}

footer {
  background-image: linear-gradient(140deg, #ff6600, purple);
  color: white;
  padding: 1rem;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer_text {
  display: flex;
  justify-content: center;
}

.blank_space {
  height: 100px;
  width: 100%;
  background-color: rgba(255, 220, 40, .15);
}

@media only screen and (max-width: 768px) {
  .navigation li {
    padding: 0 10px;
  }

  main {
    padding-top: 60px;
  }
  
  form textarea {
    width: 200px;
    height: 120px;
  }
  
  .logo_image {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    text-align: center;
    padding: 15px;
  }
  
  .navigation {
    text-align: center;
  }
  
  .navigation li {
    padding: 0 10px;
  }
  
  main {
    padding-top: 60px;
  }

  form textarea {
    width: 200px;
    height: 140px;
  }

  .logo_image {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .navigation {
    display: none;
  }
  
  main {
    padding-top: 60px;
  }
  
  form textarea {
    width: 100%;
    height: 160px;
  }
  
  .logo_image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 375px) {
  header {
    padding: 10px 5%;
  }
  
  h1 {
    font-weight: 200;
  }
  
  main {
    padding-top: 60px;
  }

  .navigation {
    display: none;
  }
  
  .logo_image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  
  form textarea {
    width: 100%;
    height: 160px;
  }
}
